{% extends "base.html" %}
{% block content %}
<h1>Cart</h1>
<table class="table row" border="true">
    <thead class="thead-dark">
    <tr class="row">
        <th class="col-3">Drink</th>
        <th class="col-3">Quantity</th>
        <th class="col-3">Price</th>
        <th class="col-3">Toppings</th>
    </tr>
    </thead>
    <tbody>
    {% if cart %}
    {% for drink in cart %}
    <tr class="row">
        <td class="col-3">{{drink.name}}</td>
        <td class="col-3">{{drink.quantity}}</td>
        <td class="col-3">{{drink.price}}</td>
        <td class="col-3">
        [
        {% for topping in drink.toppings.all %}
        {{topping.name}},
        {% endfor %}
        ]
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

{% if cart.count != 0 %}
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary col-2">Checkout</button>
</form>
{% else %}
<br>
<br>
<h1>Cart is Empty</h1>
{% endif %}
{% endblock content %}