{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table row" border="true">
        <thead class="thead-dark">
        <tr class="row">
            <th class="col-2">Drink</th>
            <th class="col-2">Quantity</th>
            <th class="col-2">Price</th>
            <th class="col-2">Done</th>
            <th class="col-2">Topping</th>

        </tr>
        </thead>
        <tbody>
        {% if drinks_in_order %}
        {% for drink in drinks_in_order %}
        {% if not drink.done %}
        <tr class="row">
            <td class="col-2">{{drink.name}}</td>
            <td class="col-2">{{drink.quantity}}</td>
            <td class="col-2">{{drink.price}}</td>
            <td class="col-2"><a href="{% url 'done' drink.id %}">Done</a></td>
            <td class="col-2">
            [
            {% for topping in drink.toppings.all %}
            {{topping.name}},
            {% endfor %}
            ]
            </td>

        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}