{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table row" border="true">
        <thead class="thead-dark">
        <tr class="row">
            <th class="col-3">Drink</th>
            <th class="col-3">Quantity</th>
            <th class="col-3">Price</th>
            <th class="col-3">Done</th>
            <th class="col-3">Topping</th>

        </tr>
        </thead>
        <tbody>
        {% if drinks_in_order %}
        {% for drink in drinks_in_order %}
        {% if not drink.done %}
        <tr class="row">
            <td class="col-3">{{drink.name}}</td>
            <td class="col-3">{{drink.quantity}}</td>
            <td class="col-3">{{drink.price}}</td>
            <th class="col-3"><a href="{% url 'done' drink.id %}">Done</a></th>
            <th class="col-3">{{drink.toppings}}</th>

        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}