{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Login</title>
    {% endblock title %}
</head>
<body>
{% block content %}
<div class="container mt-5">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}


    <form class="col-6" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        </br>
        <button class="btn btn-primary mb-10" type="submit">Login</button>
    </form>
</div>
{% endblock content %}
</body>
</html>